body {
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: wheat;
    color:black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    outline-color: orange;
    outline-style: inset;
    outline-width: 10px;
}